<partial name="_Breadcrumbs"  model=@(new [] {
    ("", "Home")
})>

<div class="text-center">
    <h3 class="display-4">Welcome</h3>
    <h1 class="display-4" style="color: green;"><b>Movie Management</b></h1>
    <p><b> @DateTime.Now.ToLongDateString() </b> </p>

</div>
