<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-success border-bottom box-shadow mb-3">
    
    <div class="container">
        <a class="navbar-brand" style="color:whitesmoke" asp-area="" asp-controller="Home" asp-action="Index">MMS.Web</a>
        <button class="navbar-toggler" type="button" data-toggler="collapse" data-target=".navbar-collapse"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse collapse d-sm inline-flex flex-sm-row-reverse">
            
            <partial name="_Login"/>

            <ul class="navbar-nav flex-grow-1">
                
                <li class="nav-item">
                    <a class="nav-link" style="color:whitesmoke" asp-controller="Home" asp-action="Index">Home</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" style="color:whitesmoke" asp-controller="Movie" asp-action="Index">Movie</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" style="color:whitesmoke" asp-controller="Home" asp-action="About">About</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" style="color:whitesmoke" asp-controller="Home" asp-action="Privacy">Privacy</a>
                </li>

            </ul>
        </div>
    </div>
</nav>